[flake8]
max-line-length: 100
docstring-convention = google
ignore =
    # Allow continuation line under-indented for visual indent.
    E128,
    # line contains XXX.
    T102,
    # Missing docstring in magic method.
    D105,
    # Missing docstring in __init__.
    D107,
    # Missing "Returns" in Docstring.
    DAR201,
    # 1 blank line required between summary line and description.
    D205,
    # Multi-line docstring summary should start at the first line.
    D212,
    # The docstring is missing an exception raised.
    DAR401,
    # The docstring describes an exception not explicitly raised.
    DAR402,
    # Line break after the binary operator
    W504
per-file-ignores =
    tests/**/test_*.py:D103,D102,D101
    __init__.py:F401

